.item1 { background-color: $yellow; }
.item2 { background-color: $pink;   }
.item3 { background-color: $dgreen; }
.item4 { background-color: $lgreen; }
.item5 { background-color: $brown;  }
.item6 { background-color: $dblue;  }
.item7 { background-color: $red;    }
.item8 { background-color: $lbrown; }