@media screen and ( max-width: 800px ) {
    .container {
        top: 15vh !important;
        height: 80vh !important;
        flex-direction: column;
        .item {
            width: 100%;
            height: 10vh;
        }
    }











}