@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import 'colors.scss';
@import 'items.scss';

body {
  padding: 0;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  cursor: default !important;
}

nav {
    img {
        width: 5vh;
        height: 5vh;
        position: absolute;
        top: 5vh;
        right: 5vw;
    }
    h1 {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        font-size: 7rem;
        position: absolute;
        top: 10vh;
        right: 1vw;
        margin: 0 !important;
    }
}

.overlay {
    top: 0px;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 5;
}
.container {
    z-index: 10;
    top: 5vh;
    left: 8vw;
    width: 80vw;
    height: 90vh;
    position: absolute;
    display: flex;
    flex-direction: row;
    .item {
        width: calc(100vw/8);
        min-width: 30px;
        .content {
            opacity: 0;
            display: flex;
            width: 40%;
            position: relative;
            left: 5%;
            flex-direction: column;
            justify-content: center;
            h1 {
                font-size: 5rem;
            }
            p {
                font-size: 1.5rem;
            }
        }
    }
}