@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import 'colors.scss';
@import 'items.scss';

body {
  padding: 0;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}


img {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 5vh;
    right: 5vw;
}
h1 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 7rem;
    position: absolute;
    top: 10vh;
    right: 1vw;
    margin: 0 !important;
}

.container {
    top: 5vh;
    left: 5vw;
    width: 85vw;
    height: 90vh;
    position: absolute;
    display: flex;
    flex-direction: row;
    .item {
        width: calc(100vw/8);
        min-width: 50px;
        // margin: 1px;
    }
}